In [2]:
import pandas as pd

# CSV 파일을 읽기
df = pd.read_csv("../1.Main data/trade_apt_api.csv")

# 데이터프레임의 첫 몇 줄을 확인
df.head(7)

,거래금액,건축년도,년,지역명,아파트,월,일,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,80000,2002,2021,신교동,신현(101동),8,16,84.82,6-13,11110,1,[Table],[Table]
1,209000,2008,2021,사직동,광화문풍림스페이스본(106동),8,5,163.33,9-1,11110,13,[Table],[Table]
2,160000,2008,2021,사직동,광화문풍림스페이스본(101동~105동),8,10,158.99,9,11110,4,[Table],[Table]
3,96000,2008,2021,견지동,대성스카이렉스,8,4,116.03,110,11110,5,[Table],[Table]
4,32000,2003,2021,익선동,현대뜨레비앙,8,14,48.54,55,11110,7,[Table],[Table]
5,19700,2014,2021,연건동,이화에수풀,8,2,16.98,195-10,11110,4,[Table],[Table]
6,20000,2014,2021,연건동,이화에수풀,8,29,16.98,195-10,11110,12,[Table],[Table]

In [4]:
df.shape

(318, 13)